{% extends "base.html" %}
{% block title %}提取文件 - 创想云盘{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body p-4">
                <h5 class="mb-3">请输入提取密码</h5>
                <form method="post">
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" required autofocus>
                    </div>
                    <button class="btn btn-primary w-100">提取文件</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
